@config "../../tailwind.config.js";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
